header {
    display: block;
    float: left;
    width: 100%;
    background-color: #F5F5F5;
    padding: 20px 0;
    border-bottom: 2px solid #1C1C1C;
}

header img {
    padding-left: 110px;
}

@media (max-width: 425px) {
    header img {
        padding-left: 17%;
    }
}

@media (max-width: 769px) {
    header img {
        padding-left: 5%;
    }
}