section nav {
    display: block;
    width: 30%;
    height: 100vw;
    float: left;
    background-color: #1C1C1C;
}

nav ul {
    text-align: center;
    padding-top: 35px;
}

nav li {
    margin: 5px 20px 5px 0;
    padding: 25px 10px 10px 10px;
}

nav a {
    font-size: 2rem;
    text-decoration: none;
    color: #F5F5F5;
}

nav a:hover {
    color: #ffffff;
}

@media (max-width: 425px) {
    section nav {
        width: 100%;
        height: auto;
    }
    nav ul {
        padding-top: 0px;
    }
    nav li {
        padding: 10px;
    }
    header img {
        padding-left: 20%;
    }
}

@media (max-width: 769px) {
    section nav {
        width: 100%;
        height: auto;
    }
    nav ul {
        padding-top: 0px;
    }
    nav li {
        padding: 10px;
    }
}