* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #F5F5F5;
}

header {
    display: block;
    float: left;
    width: 100%;
    background-color: #F5F5F5;
    padding: 20px;
    border-bottom: 2px solid #1C1C1C;
}

header img {
    padding-left: 110px;
}

.imagem {
    text-align: center;
}

h1 {
    font-size: 2.6rem;
    font-weight: 600;
    color: #000000;
    margin-bottom: 20px;
}

h2 {
    font-size: 2.2rem;
    font-weight: 600;
    color: #000000;
    margin-bottom: 20px;
}

h3 {
    font-size: 2rem;
    font-weight: 600;
    color: #000000;
    margin-bottom: 20px;
}

h4 {
    font-size: 1.7rem;
    font-weight: 600;
    color: #000000;
    margin-bottom: 10px;
    padding-top: 10px;
}

p {
    margin-bottom: 10px;
    line-height: 1.4;
    font-size: 1.7rem;
    color: #000000;
}

section {
    display: block;
    width: 100%;
    float: left;
    font-size: 1.5rem;
}

nav ul {
    text-align: center;
    padding-top: 35px;
}

nav li {
    margin: 5px 20px 5px 0;
    padding: 25px 10px 10px 10px;
}

nav a {
    font-size: 2rem;
    text-decoration: none;
    color: #F5F5F5;
}

nav a:hover {
    color: #ffffff;
}

section nav {
    display: block;
    width: 30%;
    height: 100vw;
    float: left;
    background-color: #1C1C1C;
}

article {
    background-color: #F5F5F5;
}

section article {
    display: block;
    width: 70%;
    float: left;
    padding: 20px;
}

ol {
    list-style-type: decimal;
    margin-left: 30px;
    padding-bottom: 20px;
    color: #000000;
}

ol li {
    font-size: 1.7rem;
    padding-top: 5px;
}

.FV_d6XrPL0-qxqRgWW0clQ {
    visibility: hidden !important;
}

footer {
    background-color: #F5F5F5;
    float: left;
    width: 100%;
    padding: 20px;
}

footer p {
    color: #000000;
    font-size: 1.4rem;
}

footer small {
    font-size: 80%;
    display: block;
}