@import url('container.css');
@import url('header.css');
@import url('imagem.css');
@import url('titulos.css');
@import url('texto.css');
@import url('nav.css');
@import url('article.css');
@import url('footer.css');
@import url('formulario.css');
@import url('banner.css');
@import url('saiba-mais.css');
@import url('duvidas.css');
* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #F5F5F5;
}

section {
    background-color: #F5F5F5;
    display: block;
    width: 100%;
    float: left;
    font-size: 1.5rem;
}